<header>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/']">BlackFlag</a>
            </li>
            <li>
                <a href="dbz">Dragon Ball</a>
            </li>
            <li>
                <a [routerLink]="['/mgs']">Metal Gear Solid</a>
            </li>
            <li>
                <a href="syndicate">Syndicate</a>
            </li>
            <li>
                <a [routerLink]="['/numerodoble']">Numero Doble</a>
            </li>
        </ul>
    </nav>
</header>
